# ignore all pdfs
*.pdf
*.mp4
.idea/

#projects
Online_gardening_store/
Online_gardening_store копія/
worldCitiesApp/
employeeWeb/
Final-Project/
myshop/
shop/
payment/
WebCalculator/
warehouse/
telran-bank-171023/
shop-online/
java220823m/
bank-070223-m-be/
JavaProject/
sbur-rest-demo/
MedicineService/
onlineshopproject/
Final_Project2/
SpringDemoBot/