* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  background-color: #1abc9a;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  font-size: 25px;
}

header nav ul li:not(:last-child) {
  margin-right: 20px;
}
header .social_block a:not(:last-child){
  margin-right: 20px;
}