* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 15px;
}

.wrapper {
  width: 360px;
  height: 360px;
  border: 1px solid red;
  background-color: white;
  margin: 15px;
  position: absolute;
}

.wrapper .inner:nth-child(1) {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 5px;
  top: 5px;
  background-color: red;
  z-index: 4;
}

.wrapper .inner:nth-child(2) {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 150px;
  top: 150px;
  background-color: blue;
  z-index: 5;
}

.wrapper .inner:nth-child(3) {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  top: 80px;
  background-color: green;
  z-index: 10;
}
.wrapper .inner:nth-child(3):hover {
  transform: rotate(-45deg) scale(1.5);
  transition: all 2s cubic-bezier(.05,-0.52,.84,1.41);

}