* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

table {
  /* margin: 0 auto; */
  /* border-collapse: collapse; */
  border: 1px solid black;
  margin-bottom: 50pgit initx;
  margin-top: 10px;
  margin-left: 10px;
}

table,
tr,
td,
th {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px solid gray;
  
}
/* td,
tr {
  text-align: center;
} */
ul{
  margin-top: 10px;
  padding-left: 30px;
}
.list{
  font-size: 32px;
  margin-left: 20px;
}

img{
  width: 48px;
  height: 32px;
  object-fit: cover;
  object-position: bottom;
}